# --- Reglas originales de tu raíz ---
dmoj/database/
dmoj/logs/
dmoj/media/
dmoj/problems/
dmoj/environment/*.env
dmoj/caddy_data/
dmoj/caddy_config/
nginx.conf

# --- Reglas importadas de dmoj/repo ---
dmoj/repo/.idea
dmoj/repo/.vscode
dmoj/repo/.sass-cache
dmoj/repo/.python-version
dmoj/repo/*.sqlite3
dmoj/repo/*.py[co]
dmoj/repo/*.mo
dmoj/repo/*~
dmoj/repo/*.swp
dmoj/repo/dmoj/local_settings.py
dmoj/repo/dmoj-site.pid
dmoj/repo/dmoj-site.sock
dmoj/repo/uwsgi.ini
dmoj/repo/.fuse_hidden*
dmoj/repo/resources/ace-dmoj.css
dmoj/repo/resources/dark
dmoj/repo/resources/featherlight.css
dmoj/repo/resources/martor-description.css
dmoj/repo/resources/select2-dmoj.css
dmoj/repo/resources/style.css
dmoj/repo/resources/vars.scss
dmoj/repo/sass_processed
dmoj/repo/bridge_log.txt
dmoj/repo/_mytempfile/
dmoj/repo/tmp_uwsgi.ini
dmoj/repo/nginx_template.conf
dmoj/repo/judge/fixtures/fixed*
dmoj/repo/judge/fixtures/voj_*
dmoj/repo/judge/fixtures/VOJ_*
dmoj/repo/VOJ_*problems.json
dmoj/repo/vo21.json
dmoj/repo/tmp.json
dmoj/repo/language_voj.json
dmoj/repo/static/
dmoj/repo/backup*.json
dmoj/repo/custom_script_*
dmoj/repo/websocket/config.js
dmoj/repo/node_modules/
dmoj/repo/db.json
dmoj/repo/tmp.sh
dmoj/repo/*.sql
dmoj/repo/fc_*
dmoj/repo/local_urls.py
dmoj/repo/celerybeat-schedule.*