Django>=4.2,<5
django-cleanup
django_compressor>=3
django-mptt>=0.13
django-registration-redux>=2.10
django-reversion>=5
django-social-share
django-sortedm2m>=3.1.0
django-impersonate
django-redis
mysqlclient
dmoj-wpadmin @ ./vendor/dmoj-wpadmin
lxml
lxml_html_clean
Pygments<2.12
mistune<2
social-auth-core==4.3.0
social-auth-app-django==5.0.0
pytz
django-statici18n
pika
ua-parser
pyyaml
jinja2
django_jinja>=2.5.0
llist
requests
django-fernet-fields @ ./vendor/django-fernet-fields
pyotp
qrcode[pil]
jsonfield @ ./vendor/jsonfield
pymoss
packaging>=22
celery
ansi2html @ ./vendor/ansi2html
sqlparse
lupa
netaddr
webauthn<1
bleach[css]
markdown2 @ ./vendor/python-markdown2
discord-webhook
django-admin-sortable2
icalendar
# This is a celery dependency whose latest major version is breaking everything.
importlib-metadata<5